<p>
  <b><%= Product.human_attribute_name('title') %>:</b>
  <%=h @product.title %>
</p>

<p>
  <b><%= Product.human_attribute_name('description') %>:</b>
  <%=h @product.description %>
</p>

<p>
  <b><%= Product.human_attribute_name('image_url') %>:</b>
  <%=h @product.image_url %>
</p>

<p>
  <b><%= Product.human_attribute_name('price') %>:</b>
  <%=h @product.price %>
</p>


<%= link_to translate(:edit, :default => 'Edit', :scope => [:railties, :scaffold]), edit_product_path(@product) %> |
<%= link_to translate(:back, :default => 'Back', :scope => [:railties, :scaffold]), products_path %>
